**/*.pyc
__pycache__/
instance/
venv
.venv
.todo
.env
.env.*rc
.vscode/
.idea/
.DS_Store

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
.terraform.lock.hcl